
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}


/* share style */
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    width: 134px;
    height: 42px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 17px;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 15px 80px;
}
header nav ul{
    list-style: none;
    display: flex;
    padding-top: 35px;
}
header nav ul li{
    padding-left: 30px;
}
header nav ul a{
    text-decoration: none;
}
.header-title img{
    position: relative;
    top: 20px;
}
.main-section{
    background:  rgba(0, 0, 0, .6) url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-size: cover;
    height: 600px;
    width: 90%;
    background-repeat: no-repeat;
    margin: 30px auto;
    border-radius: 10px;
    text-align: center;
}
.main-title{
    color: #FFF;
    font-size: 45px;
    font-weight: 800; 
    padding-top: 90px;
}
.main-content{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
.location{
    background-color: rgba(255, 255, 255, 0.30);
    opacity: .6;
    width: 50%;
    height: 80px;
    margin: 0 auto;
    border-radius: 20px;
}
.place{
    display: inline-flex;
    padding: 14px;
    align-items: flex-start;
    gap: 54px;
    border-radius: 8px;
    background: aliceblue;
    margin-top: 18px;
    opacity: 2;
}
.popular-Tours{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 60px;
}
.toures-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.popular-container{
margin: 0px 60px
}
.popular-container {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.toures-btn{
    margin-top: 20px;
    text-align: center;
    color: #FFF;
    margin-left: 50px;
}
.destination-container{
    width: 90%;
    margin: auto;
}
.destination{
    text-align: center;
    margin-bottom: 30px;
}
.destination-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.destination p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}
.destination-item{
    display: flex;
    text-align: center;
    gap: 20px;
}
.destination-item img{
    width: 90%;
}
.destination-item h3{
    position: relative;
    bottom: 160px;
    color: #FFF;
    line-height: 0;
}
.destination-item-1{
    display: flex;
    gap: 20px;
}
.destination-item-1 img{
    width: 90%;
}
.destination-item-1 h3{
    position: relative;
    bottom: 160px;
    padding-left: 150px;
    color: #FFF;
    line-height: 0;
}
.destination-item-img-1 img{
    width: 650px;
    height: 300px;
    margin-left: 0px;
}
.destination-item-img-3 img{
    width: 396px;
    height: 286px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.destination-item-img-4 img{
    width: 505px;
    height: 286px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.destination-item-2{
    display: flex;
    gap: 20px;
}
.destination-item-2 img{
    width: 90%;
    max-height: 300px;
}
.destination-item-img-5 img{
    width: 520px;
    height: 300px;
    margin-bottom: 20px;
}
.destination-item-img-6 img{
    width: 793px;
    height: 300px;
    margin-left: 0px;
    margin-bottom: 40px;
}
.destination-item-2 h3{
    position: relative;
    bottom: 160px;
    padding-left: 200px;
    color: #FFF;
    line-height: 0;
}
.Service{
    text-align: center;
}
.Service h3{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.Service h6{
    width: 600px;
    margin: auto;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 20px;

}
.card{
   width: 95%;
    display: flex;
    margin: auto;
}

.card-content{
width: 660px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-left: 30px;
}
.card-content-1{
width: 660px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
margin-left: 20px;
}
.card-content-2{
    width: 660px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 20px;
    margin-left: 400px;
    margin-top: 25px;
    }
    .card-icon svg{
        width: 64px;
        height: 64px;
        padding: 30px 0px 10px 32px;
    }
    .card-icon h3{
        color: #131318;
        font-size: 24px;
        font-weight: 800;
        padding: 0px 0px 0px 32px;
        line-height: 5px;
    }
    .card-icon p{
        color: #5A5A5D;
        font-size: 16px;
        width: 500px;
        font-weight: 400;
        line-height: 26px;
        padding-left: 32px
    }
    .Place-container{
        display: flex;
        width: 90%;
        margin: auto;
        padding-top: 70px;
    }
    .place-title{
        margin-right: 40px;
    }
.place-title h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 20px;
}
.place-title p{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.place-title ul li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;  
    margin-bottom: 20px;
}
.place-btn{
    font-size: 18px;
}
.newsletter-container{
    display: flex;
    width: 90%;
    margin: auto;
    height: 420px;
    margin-top: 50px;
}
.newsletter-title{
    border: 1px solid red;
    border-radius: 10px;
    padding: 40px;

}
.newsletter-title input{
    display: flex;
}
.newsletter-title h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-title p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    width: 350px;
}
.newsletter-input{
    width: 375px;
    height: 42px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    padding-left: 15px;
}
.btn-newsletter{
    width: 393px;
    height: 38px;
    border: 0;
    color: #FFF;
    font-size: 18px;
}
.newsletter-image img{
    margin-left: 40px;
    width: 830px;
    height: 420px;
}
.save-up h4{
    width: 224px;
    height: 80px;
    transform: rotate(-30.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    bottom: 170px;
    left: 645px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
} 
.save-up p{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    padding-top: 10px;
}

.footer-container{
    text-align: center;
    width: 100%;
    height: 442px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 80px;
    padding-top: 110px;
}
.footer-title img{
    position: relative;
    top: 20px;
}
.footer-title{
    color:  #131318;
    font-size: 32px;
    font-weight: 800;
}
.travel{
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
}
.footer-container p{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.footer-container svg{
    
}
.copyright{
    margin: 0px 300px;
    margin-top: 100px;
    border-top: 2px solid  rgba(19, 19, 24, 0.10);;
    padding-top: 50px;
    text-align: center;
}


@media screen and (max-width: 576px) {
   header nav{
        flex-direction: column;
        margin: 10px 15px;
    }
    header nav ul{
        flex-direction: column;
        padding-top: 15px;
    }
    .main-title{
        padding-top: 40px;
    }
    .location{
        height: auto;
        width: 80%;
    }
    #place{
        height: 50px;
        width: 72%;
    }
    #select-class{
        height: 50px;
        width: 72%;
    }
    .location-btn{
        margin-top: 10px;
    }
    .popular-Tours{
        flex-direction: column;
        margin: 20px;
        width: 90%;
    }
    .popular-container{
        margin: 20px;
        text-align: center;
    }
    #toures-img{
        width: 100%;
        height: 100%;
    }
    .destination-item, .destination-item-1, .destination-item-img-3, .destination-item-2{
        flex-direction: column;
        height: 100%;
        margin: auto;
    }
    .destination-item-img-1 img, .destination-item-img-3 img, .destination-item-img-4 img, .destination-item-img-5 img, .destination-item-img-6 img{
        min-width: 270px;
        max-width: 310px;
        margin: auto;
        padding: auto;
        gap: 5px;
        margin-bottom: -25px;
    }
    .destination-item-2 h3{
        padding-left: 100px;
    }
    .Service h6{
        width: 390px;
    }
    .card{
        flex-direction: column;
    }
    .card-content, .card-content-1, .card-content-2{
        width: 340px;
        margin: auto;
        margin-bottom: 20px;
    }
    .Service h6{
        font-size: 14px;
        padding: auto;
        width: 300px;
    }
    .card-icon p{
        font-size: 14px;
        padding: auto;
        width: 300px;
    }
    .Place-container{
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    .place-title h3{
        width: 300px;
        line-height: 50px;
    }
    .place-image img{
        max-width: 340px;
        padding-top: 20px;
    }
    .newsletter-container{
        flex-direction: column;
    }
    .newsletter-container input{
        flex-direction: column;
    }
    .newsletter-image img{
        width: 330px;
        height: 300px;
        margin: auto;
        padding-top: 30px;
    }
    .save-up h4{
        width: 170px;
        height: 60px;
        transform: rotate(-30.628deg);
        border-radius: 16px;
        background: #FF5400;
        position: relative;
        bottom: 128px;
        left: 161px;
        font-size: 22px;
        font-weight: 600;
    }
    .save-up p{
        line-height: 15px;
    }
    .newsletter-title p{
        width: 280px;
    }
    .newsletter-input{
        margin: auto;
        margin-bottom: 20px;
        width: auto;
        height: 42px;
        border-radius: 10px;
        margin-bottom: 20px;
        background: rgba(19, 19, 24, 0.05);
    }
    .btn-newsletter{
        width: 180px;
        height: 38px;
        border: 0;
        margin-left: 35px;
    }
    .footer-container{
        margin: auto;
        margin-top: 350px;
        width: 100%;
        padding-top: 50px;
    }
    .footer-title{
        color:  #131318;
        font-size: 25px;
        font-weight: 800;
        line-break:loose;
    }
    .footer-container p{
        margin-bottom: 50px;
    }
    .copyright{
        margin: 0px ;
        margin-top: 50px;
        border-top: 2px solid  rgba(19, 19, 24, 0.10);;
        padding-top: 25px;
        text-align: center;
    }
}   
